/**
* Global definitions
**/
/*
*   Requirements:
*     + Breakpoint for small screens with a width of up to 720px
*     + Breakpoint for medium screens with a width in the range of 720px - 1024px
*     + Breakpoint for large screens with width above 1024px
*/
/*grid notation variables and constants*/
/* Padding parameters */
/**
* Global functions & mixins
**/
/*
* This mixin will just enable or disable some features when debugging; those
* features should be disabled by default
*/
.yagf > div {
  min-height: 100px;
}
.yagf .row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0;
}
.yagf .grid-mode {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 0;
}
.yagf [class*="col-"] {
  grid-column: 1/span 12;
}
.yagf [class*="range-"] {
  grid-column: 1/span 6;
}
@media only screen and (min-width: 720px) {
  .yagf .align-md-left {
    text-align: left;
  }
  .yagf .align-md-center {
    text-align: center;
  }
  .yagf .align-md-right {
    text-align: right;
  }
  .yagf .fweight-md-bold {
    font-weight: 700;
  }
  .yagf .fweight-md-normal {
    font-weight: 400;
  }
  .yagf .fweight-md-medium {
    font-weight: 500;
  }
  .yagf .fsize-md-10px {
    font-size: 10px;
  }
  .yagf .fsize-md-12px {
    font-size: 12px;
  }
  .yagf .fsize-md-14px {
    font-size: 14px;
  }
  .yagf .fsize-md-16px {
    font-size: 16px;
  }
  .yagf .fsize-md-18px {
    font-size: 18px;
  }
  .yagf .fsize-md-20px {
    font-size: 20px;
  }
  .yagf .fsize-md-22px {
    font-size: 22px;
  }
  .yagf .fsize-md-24px {
    font-size: 24px;
  }
  .yagf .fsize-md-26px {
    font-size: 26px;
  }
  .yagf .fsize-md-28px {
    font-size: 28px;
  }
  .yagf .fsize-md-30px {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1024px) {
  .yagf .align-lg-left {
    text-align: left;
  }
  .yagf .align-lg-center {
    text-align: center;
  }
  .yagf .align-lg-right {
    text-align: right;
  }
  .yagf .fweight-lg-bold {
    font-weight: 700;
  }
  .yagf .fweight-lg-normal {
    font-weight: 400;
  }
  .yagf .fweight-lg-medium {
    font-weight: 500;
  }
  .yagf .fsize-lg-10px {
    font-size: 10px;
  }
  .yagf .fsize-lg-12px {
    font-size: 12px;
  }
  .yagf .fsize-lg-14px {
    font-size: 14px;
  }
  .yagf .fsize-lg-16px {
    font-size: 16px;
  }
  .yagf .fsize-lg-18px {
    font-size: 18px;
  }
  .yagf .fsize-lg-20px {
    font-size: 20px;
  }
  .yagf .fsize-lg-22px {
    font-size: 22px;
  }
  .yagf .fsize-lg-24px {
    font-size: 24px;
  }
  .yagf .fsize-lg-26px {
    font-size: 26px;
  }
  .yagf .fsize-lg-28px {
    font-size: 28px;
  }
  .yagf .fsize-lg-30px {
    font-size: 30px;
  }
}
