/**
* Global definitions
**/
/*
*   Requirements:
*     + Breakpoint for small screens with a width of up to 720px
*     + Breakpoint for medium screens with a width in the range of 720px - 1024px
*     + Breakpoint for large screens with width above 1024px
*/
/*grid notation variables and constants*/
/* Padding parameters */
/**
* Global functions & mixins
**/
/*
* This mixin will just enable or disable some features when debugging; those
* features should be disabled by default
*/
.yagf > div {
  min-height: 100px;
}
.yagf .row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0;
}
.yagf .grid-mode {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 0;
}
.yagf [class*="col-"] {
  grid-column: 1/span 12;
}
.yagf [class*="range-"] {
  grid-column: 1/span 6;
}
@media only screen and (min-width: 720px) {
  .yagf .align-md-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .yagf .align-md-vcenter {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .yagf .align-md-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .yagf .align-md-left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .yagf .align-md-hcenter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .yagf .align-md-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media only screen and (min-width: 1024px) {
  .yagf .align-lg-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .yagf .align-lg-vcenter {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .yagf .align-lg-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .yagf .align-lg-left {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .yagf .align-lg-hcenter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .yagf .align-lg-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
