/**
  Global variables
**/

$ENABLE-MARK: false;
$MAX-COLS: 12;
$dimension-ranges: (
  (sm, 576px),
  (md, 768px),
  (lg, 992px),
  (xl, 1200px)
);

/**
  Global functions & mixins
**/
@mixin enableDebugging() {
  $ENABLE-MARK: true !global;
}

@function random-color() {
  @return rgb(random(255), random(255), random(255));
}

@mixin mark($color: random-color(), $gradient: false, $mesh: true) {
  @if $ENABLE-MARK {
    border: 2px inset transparentize($color, 0.5);
    background-color: transparentize($color, 0.85);
    background-image: (
      if($mesh, url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJklEQVQYV2NkYGBogGIGEGAEEf///29gZGQESUAEoACsElkArBIADGgJguyRCM8AAAAASUVORK5CYII="), null),
      if($gradient, linear-gradient($color, scale-color($color, $lightness: 50%), $color), null),
    );
    background-repeat: repeat;
    border-radius: 7px;
    margin: 1px;
  }
  @content;
}

/*
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
