/**
  Global variables
**/

$ENABLE-MARK: true;
$MAX-COLS: 12;
$dimension-ranges: (
  (sm, 576px),
  (md, 768px),
  (lg, 1024px),
  (xl, 1200px)
);

/**
  Global functions
**/

@function random-color() {
  @return rgb(random(255), random(255), random(255));
}

@mixin mark($color: random-color()) {
  @if $ENABLE-MARK {
    border: 2px dotted transparentize($color, 0.5);
    background-color: transparentize($color, 0.85);
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJklEQVQYV2NkYGBogGIGEGAEEf///29gZGQESUAEoACsElkArBIADGgJguyRCM8AAAAASUVORK5CYII=");
    background-repeat: repeat;
    border-radius: 7px;
    margin: 1px;
  }
  @content;
}

/*
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
