/*******************************************************
 *   Generate rules for a Bootstrap style behaviour.
 ******************************************************/

 $dimIndex: 0; // This will be a numeric index of the dimension. Used only for color generation.
 @each $name, $dimension in $DIMENSION-RANGES {
 
   // Generate rules for each dimension range
   @media only screen and (min-width: $dimension) {
 
     // Generate rules for each column pair. Notation is:
     //
     //   col-{dim}-{from}-{to}
     //
     // Where:
     //   dim : Is the dimension name (i.e.: sm, md, lg, xl)
     //   from: Is the starting column index (numeric, from 1 to $MAX-COLS inclusive).
     //   to  : Is the ending column index (numeric, from 'from' value to $MAX-COLS inclusive).
    
         @each $top in $ROWS {
            @for $left from 1 through $GRID-MAX-COLS {
                @each $bottom in $ROWS {

                    @for $right from 1 through $GRID-MAX-COLS{
                        @debug ($top < $bottom);
                        @if (($top <= $bottom) and ($left <= $right)) {
                            .range-#{$name}-#{$top}#{$left}-#{$bottom}#{$right} {
                                content: "";
                            } 
                        } 
                           
                    }
                }       
            } 
        }
    }

   $dimIndex: $dimIndex + 1;
 
}
 